<html>
  <head>
    <title>SwitchWeb</title>
    <link rel="stylesheet" href="assets/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    {{range $_, $dev := .Devs}}
    <div class="device" data-id="{{$dev.ID}}">
      <label>{{$dev.Name}}</label>
      <div class="actions">
        {{range $_, $act := $dev.Actions}}
        <button data-id="{{$act.ID}}" class="action">
          {{if $act.Icon}}
          <i class="fa-solid fa-{{$act.Icon}}"></i>
          {{end}}
          {{$act.Name}}
        </button>
        {{end}}
      </div>
    </div>
    {{end}}
    <footer>
      <select id="restore">
        <option>
          -- restore --
        </option>
        {{range $_, $dev := .Devs}}
        <option data-id="{{$dev.ID}}">
          {{$dev.Name}}
        </option>
        {{end}}
      </select>
    </footer>
  </body>
  <script src="assets/index.js"></script>
</html>
